torch # install supported CUDA version for your system https://pytorch.org/get-started/locally/
torchvision
numpy
matplotlib
git+https://github.com/RobustBench/robustbench.git
torchattack
tqdm
pandas
tabulate